.results {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    box-shadow: 0 px 0px 8px rgb(198, 197, 197);
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    
}