.about-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #E4EEFF;
}

.about-content {
  flex: 1;
  padding: 20px;
  background-color: #E4EEFF;
  color: #3a76e4;
}

.highlight-section {
  background-color:#E4EEFF;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.highlight-sentence {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #3a76e4;
  background-color: #E4EEFF;
}

.highlight-number {
  font-weight: bold;
}

.highlight-text {
  font-size: 1.5rem;
  margin-top: 10px;
}

.highlight-text span {
  margin-right: 10px;
  font-weight: bold;
  color: #3a76e4;
}

.two-column-section {
  display: flex;
  margin-top: 20px;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.picture-column img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-column {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.about-column h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #3a76e4;
}
.text-column {
  padding: 20px;
  background-color: #E4EEFF;
  border-radius: 8px;
  text-align: left;
}

.text-column h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #3a76e4;
  background-color: #E4EEFF;
}
.body{
  background-color: #E4EEFF;
}
