* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url("http://cdn.wallpapersafari.com/31/2/lvkwE1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}


.search-bar-container {
  padding-top: 20vh;
  width: 250px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-wrapper {
  background-color: white;
  max-width: 250px;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px rgb(198, 197, 197);
  display: flex;
  align-items: center;
}

.results {
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgb(198, 197, 197);
  border-radius: 10px;
  margin-top: .25rem;
  max-height: 40px;
  overflow-y: scroll;
}

.search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

.search-input:focus {
  outline: none;
}

.result {
  padding: 10px 20px;
}

.result:hover {
  background-color: rgb(146, 144, 144);
}

.result-link {
  text-decoration: none;
  color: black;
}

.button {
  background-color: rgb(111, 31, 31);;
  padding: 5px 10px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  box-shadow: 0px 0px 8px rgb(198, 197, 197);
}

.navigation {
  background-color: rgb(111, 31, 31);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 50px;
  height: 80px;

}

.nav,
.navlink {
  display: flex;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
  background-color: rgb(111, 31, 31);
  color: whitesmoke;
}

.navheader,
.navlinkheader {
  display: flex;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
  background-color: rgb(111, 31, 31);
  color: whitesmoke;
}

.navlink,
.navlinkheader {
  transform: scale(1.15);
}

.nav,
.navlink:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  margin-bottom: 50px;
}

.item-container {
  display: grid;
  justify-content: center;
}

.item {
  margin: 50px;
  background-color: rgb(92, 90, 90);
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgb(13, 13, 13);
  max-width: 200px;
  border: 1px solid #ccc;
  text-align: center;
}

.item-link {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}

.item-link:hover {
  text-decoration: underline;
}

.item-heading {
  margin-bottom: 50px;
  font-size: xx-large;
}

input[type=text],
input[type=password],
select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgb(198, 197, 197);
}

.form-heading {
  margin-bottom: 50px;
  color: whitesmoke;
}

.item-heading,
h2,
p {
  color: whitesmoke;
  margin-bottom: 50px;
}

img {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 30px rgb(13, 13, 13);
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
}

p {
  max-width: 500px;
  margin: 0 auto; 
}

.footer {
  margin-top: 250px;
  background-color: rgb(111, 31, 31);
  color: whitesmoke;
  transform: scale(1.25);
}

.button {
  margin-top: 50px;
}

h4 {
  color: whitesmoke;
  text-decoration: none;
  margin-top: 10px;
}

h4:hover {
  text-decoration: underline;
}

.loader {
  margin: 100px 0px 100px 0px;
  transform: scale(2);
}

@media screen and (max-width: 600px) and (min-width: 300px) {
  .footer {
    width: 900px;
    text-align: center;
    margin-top: 1500px;
  }
}